/* Whole Page */

body {
    font-family: 'Spectral', serif;
    text-align: center;
    width: 50em;
    margin: auto;
    background-color: dimgray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

main {
    background-image: url(https:/www.transparenttextures.com/patterns/asfalt-dark.png);
    background-color: white;
    display: grid;
    grid-template-columns: 10% 20% auto 20% 10%;
    grid-template-rows: 4em 3.5em 1em 6em;
    padding: 10px;
    border: solid 1.5em;
    border-style: double;
    height: 70em;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #383737;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Links */

a,
button {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;
    color: white;
    text-decoration: none;
    background-color: black;
    border: none;
    height: 1.3em;
}

a:hover,
button:hover {
    color: darkgray;
    cursor: pointer;
}

.mainText a {
    color: black;
    background-color: none;
}

.mainText a:hover {
    color: darkgray;
}

.controls a {
    float: left;
    padding-right: 1em;
}

/* Tags and Id's */

div {
    padding: 1em;
}

/* Top and Bottom */

.x25 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.x25Box {
    border: solid 0.1em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.x1 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.topRightX {
    text-align: left;
    line-height: 0.1em;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
}

.topSerial {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.bottomRightX {
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;
}

.x50Box {
    border: solid 0.1em;
}

.bottomGroup {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 13;
    font-size: 0.9em;
}

.bottomRightX2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;
}

.bottomSerial {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 14;
}

.bullHead {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Main Text */

.bullTitle {
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
}

.bullTitle h1 {
    background-color: black;
    color: white;
}

.logo {
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    width: 11em;
}

.mainText {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 5;
    line-height: 1em;
}

.mainText h3 {
    text-decoration: underline;
}

.overlContent {
    position: fixed;
    top: 30px;
    display: none;
}

/* Profile */

.profPic {
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 11;
}

.profPic img {
    width: 100%;
}

.profDesc {
    padding: 1em;
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.profInfo {
    line-height: 1em;
    border: solid 0.1em;
    padding: 1em;
    text-align: right;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
}

/* Buttons */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.overlClose {
    color: black;
    float: right;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}

.nextPage {
    text-align: center;
    grid-column-start: 5;
    grid-row-start: 12;
    grid-row-end: 13;
}

.lastPage {
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 12;
    grid-row-end: 13;
}

/* Various classes */

.overlVid {
    margin-left: -3em;
    height: 380;
    width: 650;
}
